*{
    margin:0;
    padding:0;
}
.header{
    background-color:aqua;
    height: 40px;
    width: 100%;
    margin: 0 auto;
}
ul{
    height: 40px;
    list-style: none;
}
ul li{
    float: left;
    text-align: center;
    line-height: 40px;
    border-left: 1px solid white;
}
a{
    text-decoration:none;
    color: white;
    display: block;
    padding: 0 20px;
}
ul li a:hover {
    background-color: white;
    color: aqua;
}
.big{
    width:100%;
    overflow: hidden;
    height:0;
    top:40px;
}
.main{
    width: 400%;
    height:200px;
}
.main div{
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    line-height: 200px;
}
.a{
    width:25%;
    height: 200px;
    background-color: #0088bb;
    float:left;
}